## 資料分析期末 ：決策樹

### 二手車資料

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
cars=pd.read_excel("/Users/jen/Downloads/raw_used_car_data.xlsx")

In [35]:
cars.head(5)

,make,months_old,power,sale_type,num_owners,gear_type,fuel_type,kms,price,type
0,Smart,200.0,45.0,used,NaN,semi-automatic,gasoline,127000.0,1850.0,1
1,Smart,199.0,40.0,used,1.0,semi-automatic,gasoline,118000.0,1990.0,1
2,Smart,152.0,70.0,used,NaN,semi-automatic,diesel,220000.0,2300.0,1
3,Citroen,133.0,100.0,used,NaN,semi-automatic,diesel,182000.0,2300.0,1
4,Smart,165.0,70.0,used,NaN,semi-automatic,gasoline,120000.0,2500.0,1

In [36]:
cars.shape

(1048575, 10)

In [37]:
car=cars.dropna(axis=0,how='any')
car.shape

(21418, 10)

In [38]:
x=pd.DataFrame(car[['months_old','kms','num_owners']])
#print('target name:'+ str(iris['target_names']))
y=pd.DataFrame(car['type'],columns=['type'])
iris_data= pd.concat([x,y],axis=1)
#iris_data=iris_data[['sepal length (cm)','petal length (cm)','target']]
#iris_data=iris_data[iris_data['type'].isin([0,1])]
#iris_data.tail()
iris_data.head()

    months_old       kms  num_owners  type
1        199.0  118000.0         1.0     1
8        165.0   96600.0         1.0     1
12       174.0   91000.0         1.0     1
33       129.0  190000.0         1.0     1
34       118.0  137000.0         1.0     1

In [39]:
iris_data['type']=iris_data['type'].astype('int')

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,y_train,y_test=train_test_split(iris_data[['months_old','kms','num_owners']],iris_data['type'],test_size=0.3,random_state=0)

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
clf = DecisionTreeClassifier(criterion = 'entropy', random_state=0)

In [44]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [45]:
clf.predict(X_test)

array([2, 4, 6, ..., 3, 5, 2])

In [46]:
y_test.values

array([7, 2, 6, ..., 7, 3, 2])

In [47]:
error = 0
for i, v in enumerate(clf.predict(X_test)):
    if v!= y_test.values[i]:
        #print(i,v)
        error+=1
print(error)

4427

In [48]:
clf.score(X_test,y_test.values)

0.3110799875505758

## 嘗試找出影響最大的變數，簡化決策樹

In [49]:
import statsmodels.formula.api as sm

In [50]:
result = sm.ols(formula="price ~ months_old+ kms +power + C(make) +sale_type+num_owners+gear_type+fuel_type ", data=car).fit()
print (result.summary())
#make	months_old	power	sale_type	num_owners	gear_type	fuel_type	kms

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.609
Model:                            OLS   Adj. R-squared:                  0.608
Method:                 Least Squares   F-statistic:                     652.8
Date:                Thu, 13 Jun 2019   Prob (F-statistic):               0.00
Time:                        10:33:53   Log-Likelihood:            -2.2997e+05
No. Observations:               21418   AIC:                         4.600e+05
Df Residuals:                   21366   BIC:                         4.605e+05
Df Model:                          51
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    1519.1855   8075.859      0.188      0.851   -1.43e+04    1.73e+04
C(make)[T.Audi]              4155.6931   1606.081      2.587      0.010    1007.654    7303.732
C(make)[T.Bentley]           3.126e+04   2577.802     12.128      0.000    2.62e+04    3.63e+04
C(make)[T.Bmw]               5941.3552   1590.973      3.734      0.000    2822.929    9059.781
C(make)[T.Chevrolet]         -711.0833   1957.618     -0.363      0.716   -4548.161    3125.994
C(make)[T.Chrysler]           313.1795   2428.772      0.129      0.897   -4447.397    5073.756
C(make)[T.Citroen]           1664.1271   1610.460      1.033      0.301   -1492.495    4820.749
C(make)[T.Dacia]             1060.0681   2190.145      0.484      0.628   -3232.781    5352.917
C(make)[T.Ds]                  97.8696   2139.189      0.046      0.964   -4095.100    4290.840
C(make)[T.Fiat]              2628.0510   1689.537      1.555      0.120    -683.568    5939.670
C(make)[T.Ford]              1625.5487   1610.429      1.009      0.313   -1531.013    4782.110
C(make)[T.Honda]             3015.6402   1751.932      1.721      0.085    -418.278    6449.558
C(make)[T.Hyundai]           1239.6726   1666.359      0.744      0.457   -2026.517    4505.862
C(make)[T.Iveco]             7253.1325   2698.874      2.687      0.007    1963.137    1.25e+04
C(make)[T.Jaguar]            1295.3564   2078.949      0.623      0.533   -2779.539    5370.251
C(make)[T.Jeep]              3903.1229   1949.505      2.002      0.045      81.946    7724.300
C(make)[T.Kia]                 68.8259   1701.438      0.040      0.968   -3266.120    3403.772
C(make)[T.Land]               1.18e+04   1685.903      6.997      0.000    8492.157    1.51e+04
C(make)[T.Mazda]             1656.9078   1897.622      0.873      0.383   -2062.574    5376.390
C(make)[T.Mercedes-Benz]     6065.2795   1612.096      3.762      0.000    2905.451    9225.108
C(make)[T.Mini]              3175.6203   1950.106      1.628      0.103    -646.735    6997.975
C(make)[T.Mitsubishi]        4376.3654   2108.367      2.076      0.038     243.808    8508.923
C(make)[T.Nissan]            1913.7770   1623.272      1.179      0.238   -1267.959    5095.513
C(make)[T.Opel]              -371.1485   1598.183     -0.232      0.816   -3503.707    2761.410
C(make)[T.Peugeot]           1407.4097   1611.129      0.874      0.382   -1750.525    4565.344
C(make)[T.Porsche]           2.912e+04   1718.870     16.941      0.000    2.58e+04    3.25e+04
C(make)[T.Renault]           1901.2104   1604.758      1.185      0.236   -1244.235    5046.656
C(make)[T.Saab]                99.6027   2814.399      0.035      0.972   -5416.830    5616.036
C(make)[T.Seat]              1743.1127   1625.352      1.072      0.284   -1442.699    4928.924
C(make)[T.Skoda]             1701.6123   1783.989      0.954      0.340   -1795.140    5198.365
C(make)[T.Smart]             3217.9352   1881.517      1.710      0.087    -469.978    6905.849
C(make)[T.Ssangyong]        -2005.6381   2294.544     -0.874      0.382   -6503.116    2491.840
C(make)[T.Suzuki]            3918.6085   2604.742      1.504      0.132   -1186.882    9024.099
C(make)[T.Toyota]            3721.9474   1660.716      2.241      0.025     466.820    6977.075
C(make)[T.Volkswagen]        3820.2612   1604.160      2.381      0.017     675.987    6964.535
C(make)[T.Volvo]             3200.9319   1715.188      1.866      0.062    -160.964    6562.828
sale_type[T.classic]          3.46e+04   2159.789     16.018      0.000    3.04e+04    3.88e+04
sale_type[T.demo]            3881.3049    623.136      6.229      0.000    2659.912    5102.698
sale_type[T.km_0]             235.3740    672.737      0.350      0.726   -1083.240    1553.988
sale_type[T.used]            -669.3220    442.081     -1.514      0.130   -1535.834     197.190
gear_type[T.manual]         -1255.2279    209.831     -5.982      0.000   -1666.513    -843.943
gear_type[T.semi-automatic] -1235.5870   1571.528     -0.786      0.432   -4315.900    1844.726
fuel_type[T.LPG]              -67.4498   8952.831     -0.008      0.994   -1.76e+04    1.75e+04
fuel_type[T.diesel]          1579.2842   7895.193      0.200      0.841   -1.39e+04    1.71e+04
fuel_type[T.electric]        7417.2188   8583.870      0.864      0.388   -9407.809    2.42e+04
fuel_type[T.etanol]         -4036.8879   1.37e+04     -0.295      0.768   -3.08e+04    2.28e+04
fuel_type[T.gasoline]        -953.0351   7895.994     -0.121      0.904   -1.64e+04    1.45e+04
fuel_type[T.hybrid]          -818.4506   7979.497     -0.103      0.918   -1.65e+04    1.48e+04
months_old                    -59.5820      2.522    -23.622      0.000     -64.526     -54.638
kms                            -0.0530      0.002    -28.689      0.000      -0.057      -0.049
power                         195.1609      2.634     74.083      0.000     189.997     200.324
num_owners                    553.8096    285.746      1.938      0.053      -6.275    1113.894
==============================================================================
Omnibus:                    60941.258   Durbin-Watson:                   0.850
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       6311830892.793
Skew:                          37.666   Prob(JB):                         0.00
Kurtosis:                    2661.395   Cond. No.                     2.91e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.91e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [52]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
for col in car.columns:
    car[col] = labelencoder.fit_transform(car[col])
car.head()

/Users/jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,make,months_old,power,sale_type,num_owners,gear_type,fuel_type,kms,price,type
1,30,198,5,4,0,2,5,6591,45,0
8,30,164,7,4,0,2,5,5967,85,0
12,30,173,5,4,0,2,5,5733,92,0
33,6,128,42,4,0,2,2,7637,156,0
34,30,117,24,4,0,2,5,6973,156,0

In [53]:
car.shape

(21418, 10)

In [54]:
y = car['type']
X = car.drop('type', axis=1)
X = X.drop('price', axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size=0.8)
columns = X_train.columns

/Users/jen/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [55]:
from sklearn.preprocessing import StandardScaler
ss_X = StandardScaler()
ss_y = StandardScaler()
X_train = ss_X.fit_transform(X_train)
X_test = ss_X.transform(X_test)

/Users/jen/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/jen/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """

In [57]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier()
model_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [58]:
y_prob = model_tree.predict_proba(X_test)[:,1]
y_pred = np.where(y_prob > 0.5, 1, 0)
model_tree.score(X_test, y_pred)

0.2852474323062558

In [60]:
import pydotplus

dot_data = tree.export_graphviz(model_tree, out_file=None)
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_pdf('iris.pdf')

True

In [27]:
from sklearn.tree import export_graphviz
import graphviz
data_feature_name=car[:0]
export_graphviz(model_tree, out_file="mytree.pdf")
with open("mytree.pdf") as f:
    dot_graph = f.read()
#graphviz.Source(dot_graph)

NameError: name 'model_tree' is not defined

In [28]:
data_feature_name=car[:0]
data_feature_name

Empty DataFrame
Columns: [make, months_old, power, sale_type, num_owners, gear_type, fuel_type, kms, price, type]
Index: []

In [29]:
cars.head()

,make,months_old,power,sale_type,num_owners,gear_type,fuel_type,kms,price,type
0,Smart,200.0,45.0,used,NaN,semi-automatic,gasoline,127000.0,1850.0,1
1,Smart,199.0,40.0,used,1.0,semi-automatic,gasoline,118000.0,1990.0,1
2,Smart,152.0,70.0,used,NaN,semi-automatic,diesel,220000.0,2300.0,1
3,Citroen,133.0,100.0,used,NaN,semi-automatic,diesel,182000.0,2300.0,1
4,Smart,165.0,70.0,used,NaN,semi-automatic,gasoline,120000.0,2500.0,1

In [30]:
cars=cars.fillna(value=0)
cars.head()

,make,months_old,power,sale_type,num_owners,gear_type,fuel_type,kms,price,type
0,Smart,200.0,45.0,used,0.0,semi-automatic,gasoline,127000.0,1850.0,1
1,Smart,199.0,40.0,used,1.0,semi-automatic,gasoline,118000.0,1990.0,1
2,Smart,152.0,70.0,used,0.0,semi-automatic,diesel,220000.0,2300.0,1
3,Citroen,133.0,100.0,used,0.0,semi-automatic,diesel,182000.0,2300.0,1
4,Smart,165.0,70.0,used,0.0,semi-automatic,gasoline,120000.0,2500.0,1

In [31]:
from sklearn.datasets import load_iris
from sklearn import tree
import sys
import os 
import pydotplus
dot_data = tree.export_graphviz(model_tree, out_file=None)
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_pdf("iris.pdf")

NameError: name 'model_tree' is not defined

In [45]:
cars.fillna(0)

,make,months_old,power,sale_type,num_owners,gear_type,fuel_type,kms,price,type
0,Smart,200.0,45.0,used,0.0,semi-automatic,gasoline,127000.0,1850.0,1
1,Smart,199.0,40.0,used,1.0,semi-automatic,gasoline,118000.0,1990.0,1
2,Smart,152.0,70.0,used,0.0,semi-automatic,diesel,220000.0,2300.0,1
3,Citroen,133.0,100.0,used,0.0,semi-automatic,diesel,182000.0,2300.0,1
4,Smart,165.0,70.0,used,0.0,semi-automatic,gasoline,120000.0,2500.0,1
5,Smart,152.0,80.0,used,0.0,semi-automatic,gasoline,119000.0,2500.0,1
6,Smart,156.0,70.0,used,0.0,semi-automatic,diesel,210000.0,2600.0,1
7,Smart,125.0,45.0,used,0.0,semi-automatic,gasoline,165000.0,2700.0,1
8,Smart,165.0,45.0,used,1.0,semi-automatic,gasoline,96600.0,2700.0,1
9,Smart,133.0,45.0,used,0.0,semi-automatic,gasoline,144000.0,2800.0,1
10,Smart,167.0,45.0,used,0.0,semi-automatic,gasoline,100000.0,2800.0,1
11,Smart,164.0,37.0,used,0.0,semi-automatic,gasoline,92000.0,2800.0,1
12,Smart,174.0,40.0,used,1.0,semi-automatic,gasoline,91000.0,2850.0,1
13,Smart,164.0,55.0,used,0.0,semi-automatic,gasoline,190000.0,2999.0,1
14,Smart,137.0,45.0,used,0.0,semi-automatic,gasoline,75000.0,3000.0,1
15,Smart,135.0,30.0,used,0.0,semi-automatic,diesel,58000.0,3100.0,1
16,Smart,149.0,45.0,used,0.0,semi-automatic,gasoline,90246.0,3250.0,1
17,Smart,161.0,70.0,used,0.0,semi-automatic,gasoline,99000.0,3300.0,1
18,Toyota,179.0,48.0,used,0.0,semi-automatic,gasoline,66000.0,3300.0,1
19,Smart,201.0,30.0,used,0.0,semi-automatic,diesel,127500.0,3350.0,1
20,Citroen,121.0,80.0,used,0.0,semi-automatic,diesel,220000.0,3500.0,1
21,Citroen,150.0,80.0,used,0.0,semi-automatic,gasoline,95155.0,3500.0,1
22,Smart,156.0,45.0,used,0.0,semi-automatic,gasoline,88000.0,3500.0,1
23,Smart,120.0,33.0,used,0.0,semi-automatic,diesel,62000.0,3500.0,1
24,Smart,87.0,40.0,used,0.0,semi-automatic,diesel,113000.0,3600.0,1
25,Smart,125.0,33.0,used,0.0,semi-automatic,diesel,162000.0,3800.0,1
26,Smart,97.0,45.0,used,0.0,semi-automatic,gasoline,130000.0,3800.0,1
27,Smart,100.0,62.0,used,0.0,semi-automatic,gasoline,82000.0,3800.0,1
28,Smart,201.0,30.0,used,0.0,semi-automatic,diesel,127500.0,3850.0,1
29,Smart,110.0,62.0,used,0.0,semi-automatic,gasoline,94000.0,3900.0,1
...,...,...,...,...,...,...,...,...,...,...
1048545,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048546,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048547,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048548,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048549,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048550,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048551,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048552,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048553,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048554,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048555,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048556,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048557,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048558,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048559,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048560,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048561,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048562,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048563,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048564,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048565,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048566,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048567,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048568,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048569,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048570,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048571,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048572,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048573,0,0.0,0.0,0,0.0,0,0,0.0,0.0,
1048574,0,0.0,0.0,0,0.0,0,0,0.0,0.0,

In [49]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
for col in cars.columns:
    cars[col] = labelencoder.fit_transform(cars[col])
cars.head()

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
y = cars['type']
X = cars.drop('type', axis=1)
X = X.drop('price', axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size=0.8)
columns = X_train.columns

/Users/jen/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [51]:
from sklearn.preprocessing import StandardScaler
ss_X = StandardScaler()
ss_y = StandardScaler()
X_train = ss_X.fit_transform(X_train)
X_test = ss_X.transform(X_test)

ValueError: could not convert string to float: 'Volkswagen'